doctype !DOCTYPE html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
html  
  head  
    title funny bussines

  body
    h1 hejsa sagde jeg
    block content 
      h2 naadada
